@model IEnumerable<SmartTaskManager.Models.RoleMaster>

@{
    ViewData["Title"] = "Roles";
}

<h2>Role List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Role ID</th>
            <th>Role Name</th>
            <th>Description</th>
            <th>Is Active</th>
            <th>Created Date</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.RoleId</td>

                <td>@item.RoleName</td>

                <td>@item.Description</td>

                <td>@item.IsActive</td>

                <td>@item.CreatedDate</td>

            </tr>
        }

    </tbody>

</table>